@model PagedList.Core.IPagedList<QNZ.Model.Admin.ViewModel.FeedbackVM>

<table class="table table-bordered table-striped table-vmiddle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FeedbackTypeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Message)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-container">
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackTypeTitle)
                </td>
                <td style="word-break:break-word;">
                    @Html.DisplayFor(modelItem => item.Message)


                    @if (!string.IsNullOrEmpty(item.ImageUrls))
                    {
                    <div class="imglist">
                        @foreach (var img in item.ImageUrls.Split("|"))
                        {
                            if (img.StartsWith("https://xcx.anyacos.com/"))
                            {

                        <a href="@img" class="gallery"><img src="@img" style="height:2rem;" /></a>
                            }
                            else
                            {
                                <a href="@string.Format("https://xcx.anyacos.com/{0}",img)" class="gallery"><img src="@string.Format("https://xcx.anyacos.com/{0}",img)" style="height:2rem;" /></a>
                            }

                        }
                    </div>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Avatar))
                    {
                        <img src="@item.Avatar" alt="@item.CustomerName" class="avatar" />
                    }
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm delete-item">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
