@model QNZ.Model.Admin.ViewModel.FeedbackPageVM
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "问题&意见";
}
<div class="row">
    <div class="col-auto mr-auto">
        <form asp-action="Index" method="get" class="form-inline mb-2">
            <label class="sr-only" for="Keyword">关键字</label>
            @Html.EditorFor(model => model.Keyword, new { htmlAttributes = new { @class = "form-control mb-2 mr-sm-2 mb-sm-0", placeholder = "关键字" } })

            <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> 搜索</button>
        </form>
    </div>
   
</div>
<partial name="_FeedbackList" model="Model.Feedbacks" />

<div class="panel-footer">

    <div class="row">
        <div class="col-auto mr-auto">
            @*<pager class="pager-container" list="@Model.Feedbacks" LinkToPreviousPageFormat="前页" ,
                   LinkToNextPageFormat="下页"
                   options="@{ new PagedListRenderOptions {
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    DisplayLinkToIndividualPages = true,
                    UlElementClasses = new[] { "pagination" },
                    LiElementClasses = new[] { "page-item" },
                    AhrefElementClasses = new[] { "page-link" },
                    ClassToApplyToFirstListItemInPager = null,
                    ClassToApplyToLastListItemInPager = null,
                    LinkToPreviousPageFormat = "前页",
                    LinkToNextPageFormat = "后页"
                    }}"
                   asp-action="Index" asp-controller="Feedbacks" asp-route-keyword="@Model.Keyword" />*@
        </div>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend" id="btnGroupAddon2">
                    <span class="input-group-text">总记录<strong>@Model.TotalCount</strong>条</span>

                </div>
                @*@Html.DropDownListFor(m => Model.PageSize, (SelectList)ViewBag.PageSizes, "分页", new { @class = "form-control" })*@
            </div>
        </div>
    </div>
</div>

<form id="anti-form" method="post">
    @Html.AntiForgeryToken()
</form>

@section header{
    <link href="~/plugins/colorbox/example1/colorbox.css" rel="stylesheet" />
    <style>
        .avatar {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
}

@section footer{
    <script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script>
        $(function () {
            $('a.gallery').colorbox();


            //delete
            $(document).on("click", '.delete-item', function (e) {
                e.preventDefault();

                var url = $(this).attr('href');
                var that = $(this);
                bootbox.setLocale("zh_CN");
                bootbox.confirm("你确定要删除此项吗？", function (result) {
                    if (result) {
                        /*DELETE*/
                        var title = "@ViewBag.Title";
                        Common.DeleteItem(url, title, that);
                    }
                });

            });
        })
    </script>

}