@model Page

<div class="card-header">
    <h5>@Html.DisplayFor(model => model.Title)</h5>
</div>
<div class="card-body">
    <div class="well">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <label>别名</label>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.SeoName)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <label>查看次数</label>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.ViewCount)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>排序</label></div> <div class="col">@Html.DisplayFor(model => model.Importance)</div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>发布</label></div>
                    <div class="col">@Html.DisplayFor(model => model.Active)</div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>创建时间</label></div>
                    <div class="col">@Html.DisplayFor(model => model.CreatedDate)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>创建人</label></div>
                    <div class="col">@Html.DisplayFor(model => model.CreatedBy)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>最后修改</label></div>
                    <div class="col">@Html.DisplayFor(model => model.UpdatedDate)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row no-gutters">
                    <div class="col-auto"><label>修改人</label></div>
                    <div class="col">@Html.DisplayFor(model => model.UpdatedBy)</div>
                </div>
            </div>
        </div>
    </div>



    @Html.Raw(Model.Body)


</div>