@model QNZ.Data.PostCategory


@{
    ViewData["Title"] = "详情";
}


    <div class="card">
        <h5 class="card-header">
            详情
        </h5>
        <div class="card-body">
            <div class="row">
                @*@if (!string.IsNullOrEmpty(Model.ImageUrl))
                {

                    <div class="col-md-auto">
                        <figure style="width:300px; display:block;">
                            <img src="@Model.ImageUrl" alt="" />
                        </figure>
                    </div>
                }*@
                <div class="col-md">
                    <dl class="dl-horizontal">
                        <dt>
                            主题
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt>
                            别名
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Alias)
                        </dd>

                        <dt>
                            排序
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Importance)
                        </dd>
                        <dt>
                            发布
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>

                        <dt>
                            创建人
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>
                        <dt>
                            创建时间
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>


                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="iconfont icon-edit"></i> 编辑</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="iconfont icon-arrowleft"></i> 返回</a>
        </div>
    </div>