@model IEnumerable<BranchVM>
@{
    var pageMeta = (PageMeta)ViewData["PageMeta"];
    ViewData["Title"] = pageMeta != null ? pageMeta.Title : "分公司信息";

}
@section Header{
    @if (pageMeta != null)
    {
        <meta name="keywords" content="@pageMeta.Keywords">
        <meta name="description" content="@pageMeta.Description">

    }
    <link href="~/plugins/swiper/css/swiper.min.css" rel="stylesheet" />

}
@await Component.InvokeAsync("Banner", new { code = "A1009" })

<div class="page page-contact page-branch">
    <section class="s1 container">
        <div class="submenu"><a href="/contact">联系我们</a><a class="active" href="/contact/branches">分子公司</a></div>
        <div class="title-section">
            <h2 class="text-center">分子公司信息</h2>
        </div>
        <div class="branches">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-lg-auto"><a class="pic" target="_blank" asp-action="Detail" asp-route-id="@item.Id"><img src="@item.ImageUrl" alt="@item.Name"></a></div>
                        <div class="col-md">
                            <div class="txt">                                
                                <header>
                                    @if (!string.IsNullOrEmpty(item.Homepage))
                                    {
                                        <a class="home fr" href="//www.baidu.com">进入官网<i class="iconfont icon-next"></i></a>
                                    }
                                    <h3 class="name">@item.Name</h3>
                                </header>
                                <p class="des">@item.Summary</p>
                                <ul class="contact">
                                    <li>联系方式：@item.Contact</li>
                                    <li>公司地址：@item.Address</li>
                                    <li>主营业务：@item.Business</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </section>
</div>