@model UserIM



    <form asp-controller="User" asp-action="Create" data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
          data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
          data-ajax="true" data-ajax-method="POST">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <!-- 添加菜单 Modal -->
        <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">创建用户</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                   
                       
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-form-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "col-form-label  col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "col-form-label  col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group row">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label  col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label  col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" type="submit" id="btnSave"><i class="iconfont icon-save"></i>保存</button>
                    </div>
                </div>
            </div>
        </div>
     </form>

        <script type="text/javascript" language=javascript>
            $.validator.unobtrusive.parse(document);
        </script>
