@using QNZ.Data
@using SIG.Infrastructure.Configs
@using SIG.Resources.Admin
@model User

    <tr id="@(Model.Id)tr">
      
        <td><input type="checkbox" value="@Model.Id" class="itemSelect" /></td>
        <td>
            <img src="@(string.IsNullOrEmpty(Model.PhotoUrl)? SettingsManager.User.DefaultAvatar :Model.PhotoUrl)" alt="@Model.UserName" class="rounded-circle" style="height:40px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.UserName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Mobile)
        </td>

        <td>
            @Html.DisplayFor(modelItem => Model.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.CreateDate)
        </td>
        <td>
            <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#edit-container" title="编辑"
               data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailed" data-ajax-success="onSuccess"><i class="iconfont icon-edit"></i></a>

            <a asp-action="SetRole" class="btn btn-info btn-sm" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#edit-container" title="角色设置"
               data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailed" data-ajax-success="onSuccess"><i class="iconfont icon-user"></i></a>
            <a asp-action="SetPassword" class="btn btn-info btn-sm" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#edit-container" title="重设密码"
               data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailed" data-ajax-success="onSuccess"><i class="iconfont icon-lock"></i></a>

            <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#edit-container" title="查看详情"
               data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailed" data-ajax-success="onSuccess"><i class="iconfont icon-info-circle"></i></a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm btn-delete" title="删除"><i class="iconfont icon-delete"></i></a>
        </td>
    </tr>

