@using SIG.Infrastructure.Configs
@using QNZ.Data.Enums
@model LeftNavVM

@{ 
    var menus = Model.Menus.Where(m => m.Active &&
               (m.MenuType == (short)MenuType.NOLINK || m.MenuType == (short)MenuType.PAGE) && m.LayoutLevel < 2).OrderBy(d => d.Importance);
}

@if (menus != null)
{

    <aside class="leftcol" id="leftcol">
        <div class="logo"><a asp-action="Index" asp-controller="Home" asp-area="Admin"><img src="@SettingsManager.Site.DashboardLogo" alt="logo" /></a></div>


        <nav id="menu">
            <ul class="mainmenu" id="mainmenu">
                @foreach (var item in menus)
                {

                    string url = string.IsNullOrEmpty(item.Url) ? "#" : item.Url;
                    string hasChilds = string.IsNullOrEmpty(item.Url) ? "down-nav" : "";

                    //if (Model.CurrentMenu != null)
                    //{
                    string linkActive = item.Id == Model.CurrentMenu.Id ? "active" : "";
                    string openav = Model.CurrentMenu.ParentId == item.Id && item.Id != 3 ? "nav-open" : "";

                    var childMenus = Model.Menus.Where(d => d.ParentId == item.Id);

                    <li class="@hasChilds @string.Format("level{0}", item.LayoutLevel) @openav" data-parent="@(item.ParentId??0)">
                        <a href="@url" class="@linkActive" data-id="@item.Id">
                            <i class="@item.Iconfont fa-fw"></i>@item.Title
                            @if (string.IsNullOrEmpty(item.Url))
                            {
                                <i class="arrow iconfont icon-down"></i>
                            }
                        </a>

                        @if (childMenus.Any() && item.ParentId != null)
                        {
                            <ul class="submenu">
                                @foreach (var sub in childMenus.OrderBy(d => d.Importance))
                                {
                                    if (sub.Active)
                                    {

                                        string subLinkActive = (sub.Id == Model.CurrentMenu.Id || sub.Id == Model.CurrentMenu.ParentId) ? "active" : "";
                                        <li class="@string.Format("level{0}", sub.LayoutLevel)" data-parent="@(sub.ParentId ?? 0)">
                                            <a href="@sub.Url" data-id="@sub.Id" class="@subLinkActive">
                                                <i class="@sub.Iconfont"></i>@sub.Title
                                            </a>
                                        </li>
                                    }

                                }

                            </ul>
                        }
                    </li>


                }
            </ul>

        </nav>
        <div class="closemenu"><a href="#"><i class="iconfont icon-chevron-circle-left"></i></a></div>


    </aside>
}