@model HomePageVM

@{
    ViewData["Title"] = SettingsManager.Site.SiteName;
}
@section Header{
    @*<meta name="keywords" content="深圳网站建设公司,深圳网站建设公司,深圳高端网站建设,用户体验设计,ui设计公司,响应式网站设计,界面设计公司,网站界面设计,微信小程序开发">
    <meta name="description" content="黑鸟志为企业提供网站建设、服务设计、产品策略研究、用户体验研究、交互设计、视觉ui设计、网站界面设计、用户体验设计以及vi设计；包括app设计、ui设计、界面设计、微信小程序开发等。">*@
    <link href="~/plugins/swiper/css/swiper.min.css" rel="stylesheet" />

}


@*@await Component.InvokeAsync("HomeWorks")
@await Component.InvokeAsync("HomeArticles")
@await Component.InvokeAsync("HomePosts")
@await Component.InvokeAsync("HomeClients")
    *@

<section class="s0">
    <div class="sliders swiper-container wow fadeInUp">
        <div class="swiper-wrapper">
            @foreach (var item in Model.Adverts)
            {
                <div class="swiper-slide"><a href="@item.WebLink"><img src="@item.ImageUrl" alt="@item.Title"></a></div>
            }          
        </div>
        <div class="swiper-button-next"><i class="iconfont icon-next"></i></div>
        <div class="swiper-button-prev"><i class="iconfont icon-prev"></i></div>
    </div>
    <div class="gupiao">
        <div class="container">
            <div class="gupiao-container wow fadeInUp">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto">
                        <div class="name">仕佳光子</div>
                    </div>
                    <div class="col-md-auto">
                        <div class="code">股票代码：000000</div>
                    </div>
                    <div class="col-md-auto">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="val">57.81<i class="iconfont icon-ziyuan"></i></div>
                            </div>
                            <div class="col-auto">
                                <div class="up">+0.440 （+0.76%）</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">2020-05-12  15:00:03  已收盘 （北京时间）</div>
                    <div class="col-md-auto">
                        <ul class="zhishu">
                            <li>今天   66.32</li>
                            <li>昨收   66.52</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page page-home">
    <section class="section s1 container">
        <div class="intro">
            <h2 class="title">引领光通信核心领域技术进步</h2>
            <p>公司聚焦光通信行业，主营业务覆盖光芯片及器件、室内光缆、线缆材料三大板块，主要产品包括PLC分路器芯片系列产品、AWG芯片系列产品、DFB激光器芯片系列产品、光纤连接器、室内光缆、线缆材料等。公司产品主要应用于骨干网和城域网、光纤到户、数据中心、4G/5G建设等，成功实现了部分光芯片产品的国产化和进口替代。</p>
            <a class="more" href="/products">了解更多</a>
        </div>
    </section>
    <section class="section s2">
        <section class="solutions swiper-container wow fadeInUp">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Solutions)
                {
                    <div class="swiper-slide" style="background-image:url('@item.SliderImage');">
                        <div class="container">
                            <div class="des">
                                <h3 class="title">@item.Title</h3>
                                <h4 class="subtitle">@item.SubTitle</h4>
                                <p>@item.Summary</p><a class="more" asp-controller="solutions" asp-action="detail" asp-route-id="@item.Id">查看更多 <i class="iconfont icon-next"></i></a>
                            </div>
                        </div>
                    </div>
                }

              
            </div>
            <div class="swiper-button-next"><i class="iconfont icon-next"></i></div>
            <div class="swiper-button-prev"><i class="iconfont icon-prev"></i></div>
        </section>
    </section>
    <section class="s3 section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-auto">
                    <div class="ziben">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-12">
                                <div class="box">
                                    <div class="row align-items-end no-gutters">
                                        <div class="col-auto">
                                            <div class="num">
                                                <div class="numup">4.13</div><span>+ </span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="unit">亿元</div>
                                        </div>
                                    </div>
                                    <div class="name">注册资本 </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-12">
                                <div class="box">
                                    <div class="row align-items-end no-gutters">
                                        <div class="col-auto">
                                            <div class="num">
                                                <div class="numup">107</div><span>+ </span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="unit">项</div>
                                        </div>
                                    </div>
                                    <div class="name">拥有授权专利</div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-12">
                                <div class="box">
                                    <div class="row align-items-end no-gutters">
                                        <div class="col-auto">
                                            <div class="num">
                                                <div class="numup">50</div><span>+ </span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="unit">%</div>
                                        </div>
                                    </div>
                                    <div class="name">PLC全球市场份额</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    @if (Model.Video != null)
                    {
                        <div class="video-container">
                            <video src="@Model.Video.VideoUrl" poster="@Model.Video.Cover" width="100%" height="100%" controls="controls"></video>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <section class="s4 section">
        <div class="title-section">
            <h2 class="text-center">服务全球</h2>
        </div>
        <div class="service" style="position:relative;">
            <img src="/assets/img/map.png" alt="服务全球">
            @foreach (var item in Model.Shopes)
            {

                @if (item.IconType == 1)
                {
                    <div class="dot" style="left:@string.Format("{0}%", item.ToLeft);top:@string.Format("{0}%", item.ToTop);">
                        <img src="/assets/img/dot.png" title="@item.Name" />
                    </div>
                }
                else
                {
                    <div class="star" style="left:@string.Format("{0}%", item.ToLeft);top:@string.Format("{0}%", item.ToTop);">
                        <img src="/assets/img/star.png" title="@item.Name" />
                    </div>
                }

            }
        </div>
</section>
</div>

@section Scripts
    {
    <script src="~/plugins/swiper/js/swiper.min.js"></script>

    <!-- Google Analytics -->
    <script>
        //Make sure that the dom is ready
        var swiper = new Swiper('.sliders', {
            //- pagination: {
            //-     el: '.swiper-pagination',
            //-     clickable: true
            //- },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        $(function () {

            $('video, audio').mediaelementplayer();

            $('.numup').counterUp({
                delay: 10, // the delay time in ms
                time: 2000 // the speed time in ms
            });
        });

        var swiper = new Swiper('.solutions', {

            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            //- pagination: {
            //-     el: '.swiper-pagination',
            //-     clickable: true,
            //- },
        });
    </script>

}
