@model IEnumerable<QNZ.Data.Team>

<section class="page-about section1">
        <header class="se-header">
            <h3>团队</h3>
            <p>team</p>
        </header>
    <div class="teams">
        
        @foreach (var item in Model)
        {
            
            <div class="item">
                <div class="photo">
                    <img src="@item.PhotoUrl" alt="">
                </div>
                <p class="name">@item.Name</p>

                <p class="post">@item.Post</p>
                <div class="ims">
                    @if (!string.IsNullOrEmpty(item.Github))
                    {
                        <a href="@item.Github">
                            <i class="iconfont icon-github-fill"></i>
                        </a>
                    }
                   @if (!string.IsNullOrEmpty(item.CodePen))
                   {
                       <a href="@item.CodePen">
                           <i class="iconfont icon-codepen"></i>
                       </a>
                   }
                  @if (!string.IsNullOrEmpty(item.Qq))
                  {
                      <a href="@item.Qq">
                          <i class="iconfont icon-QQ"></i>
                      </a>  
                  }
                  @if (!string.IsNullOrEmpty(item.Twitter))
                  {
                      <a href="@item.Twitter">
                          <i class="iconfont icon-twitter"></i>
                      </a>
                  }
                   @if (!string.IsNullOrEmpty(item.Facebook))
                   {
                       <a href="@item.Facebook">
                           <i class="iconfont icon-facebook"></i>
                       </a>
                   }
                    
                </div>
            </div>
        }



    </div>
    </section>