@model QNZ.Data.AdvertisingSpace

@{
    ViewData["Title"] = Model.Title;
}

<div class="card">
    <h5 class="card-header">
        @Model.Title
    </h5>
    <div class="card-body">
        <div class="well">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <label>代码</label>
                        </div>
                        <div class="col">@Html.DisplayFor(model => model.Code)</div>
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>排序</label></div> <div class="col">@Html.DisplayFor(model => model.Importance)</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>发布</label></div>
                        <div class="col">@Html.DisplayFor(model => model.Active)</div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>创建时间</label></div>
                        <div class="col">@Html.DisplayFor(model => model.CreatedDate)</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>创建人</label></div>
                        <div class="col">@Html.DisplayFor(model => model.CreatedBy)</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>最后修改</label></div>
                        <div class="col">@Html.DisplayFor(model => model.UpdatedDate)</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters">
                        <div class="col-auto"><label>修改人</label></div>
                        <div class="col">@Html.DisplayFor(model => model.UpdatedBy)</div>
                    </div>
                </div>
            </div>
        </div>



        @*@Html.Raw(Model.de)*@


    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> 编辑</a>
        <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> 返回</a>
    </div>
</div>

@section header{
    <style>
        .card-body label {
            display: inline-block;
            width: 80px;
            color: #999;
        }

        .well {
            padding: 1rem 2rem;
            background-color: #f7f7f7;
            margin-bottom: 2rem;
        }
    </style>
}