@model PagedList.Core.IPagedList<QNZ.Model.ViewModel.ProductVM>

<table class="table table-bordered table-striped table-vmiddle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Thumbnail)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                /
                @Html.DisplayNameFor(model => model.FirstOrDefault().SubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Thumbnail))
                {
                    <img src="@item.Thumbnail" style="height:3rem" alt="" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name) <br />
                @Html.DisplayFor(modelItem => item.SubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OriginalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">编辑</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">详情</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">删除</a>
            </td>
        </tr>
        }
    </tbody>
</table>
