@model QNZ.Data.Post


@{
    ViewData["Title"] = Model.Title;
}

<div class="card">
    @*<partial name="_DetailsView" model="Model" />*@

    <h5 class="card-header">
        @Html.DisplayFor(model => model.Title)
    </h5>
    <div class="card-body">
        <div class="well">
            <div class="row no-gutters">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <label>分类</label>
                                </div>
                                <div class="col">@Html.DisplayFor(model => model.Category.Title)</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <label>查看次数</label>
                                </div>
                                <div class="col">@Html.DisplayFor(model => model.ViewCount)</div>
                            </div>
                        </div>
                        @*<div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>发布日期</label></div> <div class="col">@Html.DisplayFor(model => model.Pubdate)</div>

                            </div>
                        </div>*@
                        @*<div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <label>作者</label>
                                </div>
                                <div class="col">@Html.DisplayFor(model => model.Author)</div>
                            </div>
                        </div>*@
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>发布</label></div>
                                <div class="col">@(Model.Active == true ? "是" : "否")</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>创建时间</label></div>
                                <div class="col">@Html.DisplayFor(model => model.CreatedDate)</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>创建人</label></div>
                                <div class="col">@Html.DisplayFor(model => model.CreatedBy)</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>最后修改</label></div>
                                <div class="col">@Html.DisplayFor(model => model.UpdatedDate)</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row no-gutters">
                                <div class="col-auto"><label>修改人</label></div>
                                <div class="col">@Html.DisplayFor(model => model.UpdatedBy)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <img src="@Model.Thumbnail" alt="@Model.Title" style="max-width:300px;" />
                </div>
            </div>
        </div>



        @Html.Raw(Model.Body)


    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> 编辑</a>
        <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> 返回</a>
    </div>

</div>
@section header{
    <style>
        .card-body label {
            display: inline-block;
            width: 80px;
            color: #999;
        }

        .well {
            padding: 1rem 2rem;
            background-color: #f7f7f7;
            margin-bottom: 2rem;
        }
    </style>
}
